@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORÇANDO O LAYOUT */
:root, html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f4f6 !important; /* Cinza claro forçado */
    overflow-x: hidden; /* Evita rolagem lateral */
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}